@import "imports";

.app {
   height: 100vh;
   font: var(--font-m);
   color: var(--primary-color);
   background-color: var(--bg-color);
}

.container {
   margin: 0 auto;
   padding: 0 15px;
   max-width: 1230px;
}
