.Input {
   padding: 0 15px;
}

.primary {
   font: var(--font-size-m);
   background-color: var(--bg-input-color);
   color: var(--light-color);
   border-radius: 5px;
}

.size_m {
   width: 200px;
   height: 30px;
}

.size_l {
   width: 370px;
   height: 40px;
}


