@import "reset";
@import "variables/global";
@import "theme/dark";
@import "theme/light";


.app {
   height: 100vh;
   font: var(--font-m);
   background-color: var(--bg-color);
   color: var(--primary-color);
}

