.NavBar {
   width: 100%;
   height: var(--navbar-height);
   background-color: #1f1f1f;
}

.content {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 100%;
}

.logoBock {
   display: flex;
   align-items: center;
}

.burger {
   width: 20px;
   height: 17px;
   margin-right: 15px;
   position: relative;
}

.burgerLine {
   width: 90%;
   height: 2px;
   background-color: var(--light-color);
   border-radius: 2px;
}

.burgerLine::before,
.burgerLine::after {
   content: "";
   width: 90%;
   height: 2px;
   position: absolute;
   left: 0;
   background-color: var(--light-color);
   border-radius: 2px;
}

.burgerLine::before {
   top: 0;
}

.burgerLine::after {
   bottom: 0;
}
