.NavBar {
   width: 100%;
   height: var(--navbar-height);
   background-color: var(--bg-color-inverted);
}

.content {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 100%;
   position: relative;
   z-index: var(--burger-button-z-index);
}

.logoBock {
   display: flex;
   align-items: center;
}

.burger {
   width: 50px;
   height: 50px;
   margin-right: 15px;
   position: relative;
   padding: 0;
}

.burgerLine {
   width: 50%;
   height: 2px;
   margin: 0 auto;
   background-color: var(--light-color);
   border-radius: 2px;
}

.burger::before,
.burger::after {
   content: "";
   width: 50%;
   height: 2px;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   background-color: var(--light-color);
   border-radius: 2px;
}

.burger::before {
   top: 16px;
}

.burger::after {
   bottom: 16px;
}

.burgerActive {
   .burgerLine {
      opacity: 0;
   }

   .app {
      overflow: hidden;
   }
}

.burgerActive::before {
   left: 25%;
   top: 50%;
   transform: rotate(45deg);
}

.burgerActive::after {
   left: 25%;
   top: 50%;
   bottom: auto;
   transform: rotate(-45deg);
}
